body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
  background-color: rgba(0, 0, 0, 0.717);
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.Jobs {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
}
.Job {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
}

.Job > span {
  font-size: 30px;
}

.Job > div > span {
  font-size: 18px;
}
.red {
  border: 12px solid red;
}
.green {
  border: 12px solid green;
}
.yellow {
  border: 12px solid yellow;
}
.blue {
  border: 12px solid cyan;
}
.pink {
  border: 12px solid lightpink;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.footer > div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.footer > div > a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}
